{% extends 'base.html' %}

{% block content %}

<h1> Welcome to my Home page </h1>
<p>The homepage is considered as most important part of the whole site. It is the first page that visitors will view.  To have a successful website a good homepage is necessary and also becomes a blueprint for every successful business. The homepage should be able to set-up the key elements depending on what your primary and secondary objectives are. But a poor homepage may destroy the chance of achieving your website objectives.</p>

{% endblock %}